.card textarea {
  border: none;
}

.card .row {
  margin-bottom: 0;
}

.card .col {
  padding: 0;
}

.input-field div.error {
  position: relative;
  top: -1rem;
  left: 0;
  font-size: 0.8rem;
  color: #FF4081;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}

a.disabled {
  pointer-events: none;
  color: #e5e5e5 !important;
}